* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.flex-item {
  display: flex;
  align-items: center;
}


.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 14rem;
}

.anouce-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.anouce-bar-p {
  flex: 1;
  text-align: center;
  color: rgb(222, 221, 221);
  font-size: 0.7rem;
  padding: 0.4rem 0;
}

.header-top {
  background-color: black;
}

.anouce-bar strong {
  text-decoration: underline;
  cursor: pointer;
}

.language:hover .lang-3 {
  display: block;
}

.lang-3 {
  position: absolute;
  background: brown;
  top: 4%;
  line-height: 1.4rem;
  border: 2px solid rgb(0, 0, 0);
  display: none;
  z-index: 3;
}

.lang-3 a {
  display: block;
  padding: 0.4rem;
}

.current:hover {
  background-color: blue;
}

.Urdu:hover {
  background-color: blue;
}

.Punjabi:hover {
  background-color: blue;
}

.navbar {
  border-bottom: 1px solid rgb(219 219 219);
}

.left ul li a {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.left {
  line-height: 4rem;
  gap: 13rem;
}

.main-links {
  gap: 3rem;
}

.search-icon {
  cursor: pointer;
}

.logo {
  font-weight: 800;
  font-size: 1.4rem;
}

.search-bar {
  background-color: rgb(224 224 224);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.input-field {
  outline: none;
  background-color: transparent;
  border: none;
}

.right .search-bar input::placeholder {
  font-size: 0.7rem;
}

.right {
  margin-left: auto;
  gap: 1rem;
}

.iscart-heart {
  gap: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.left-1 ul li a {
  color: black;
  line-height: 1.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
}

.fashion-list {
  display: inline-block;
  border-right: 1px solid rgb(219 219 219);
  padding-top: 2rem;
  padding-right: 4rem;
}

.icon-small {
  cursor: pointer;
}

.left-1 ul li a:hover {
  color: rgb(184, 184, 184);
}

.wrapper {
  display: flex;
  flex: 1;
}

.text {
  position: relative;
}

.myslider {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items {
  padding-left: 2rem;
}

.items .img img {
  width: 100%;
  height: 16rem;
  display: block;
  padding-top: 2rem;
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 77%;
  left: 21%;
  transform: translate(-50%, -50%);
  color: #000000;
  z-index: 2;
}

.text-overlay h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.shop-now-btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: red;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shop-now-btn:hover {
  background-color: darkred;
}

.a1 {
  text-decoration: underline;
}

.main-links li:hover {
  text-decoration: underline;
}


/* Style for the dropdown container */
.fashion-list li {
  position: relative;
}

.dropdown {
  position: absolute;
  left: 100%;
  top: 0;
  background: url(bg-women-2.jpg)no-repeat center center/cover;
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 2;
  display: flex;
  gap: 20px;
  display: none;
}

/* Style for each column */
.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 180px;
}

.dropdown ul li a {
  padding: 0.5rem 1rem;
  color: white;
  display: block;
  text-decoration: none;
  font-size: 0.9rem;
}

.dropdown li a:hover {
  background-color: #f0f0f0;
}

/* Show the dropdown menu on hover */
.fashion-list li:hover>.dropdown {
  display: flex;
}


.dropdown-menu {
  display: flex;
  display: none;
  position: absolute;
  background: url(bg-men.jpg)no-repeat center center/cover;
  border: 1px solid #ddd;
  padding: 1rem;
  z-index: 10;
  top: 100%;
  left: 100%;
}

.fashion-list li:hover .dropdown-menu {
  display: flex;
}

.dropdown-menu ul {
  padding: 0;
  margin: 0;
}


.dropdown-menu li ul {
  padding-left: 1rem;
}


.dropdown-menu li ul li a {
  color: rgb(255, 255, 255);
}

.dropdown-menu li ul li a:hover {
  color: red;
}

/* ---------------------------main------------------------ */
.section-1 {
  margin-top: 4rem;
}

.sec-1 {
  border-bottom: 1px solid rgb(219 219 219);
}

.b-1 {
  width: 1.6rem;
  height: 2.6rem;
  background-color: red;
  border-radius: 9px;
}

.today {
  display: flex;
  align-items: center;
  gap: 10px;
  color: red;
  font-family: Courier, monospace;
  font-weight: 700;
}

#countdown {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sales-left {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.cal {
  font-weight: 600;
  font-size: 1.3rem;
}

.colon {
  font-size: 1.5em;
  color: #333;
  margin-top: 1rem;
}

.left-side {
  background-color: #ddd;
  display: inline-block;
  padding: 0.4rem;
  font-size: 1.5rem;
  border-radius: 27px;
  cursor: pointer;
}

.sec-1-left-right {
  display: flex;
  align-items: center;
}

.right-2 {
  margin-left: auto;
}

.product-box {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  border: 2px solid #e4e4e4;
  border-radius: 5px;
}

.product-box img {
  width: 75%;
  padding-left: 17%;
  padding-top: 10%;
}

.discount {
  position: absolute;
  top: 5%;
  left: 7%;
  background-color: red;
  padding: 0.1rem;
  border-radius: 8px;
  color: white;
  font-size: 0.8rem;
}

.products {
  display: flex;
  padding-top: 2rem;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.products-item {
  display: flex;
  flex-direction: column;
  width: 18%;
}

.buy-now-bt {
  text-align: center;
  padding-bottom: 2rem;
}

.buy-now-bt button {
  padding: 0.7rem 3rem;
  color: white;
  background: red;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

/* ------------------------------sec-2----------------------- */

.sec-2 {
  padding-top: 3rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.sec-h1 {
  display: inline;
}

.arrows {
  display: inline;
}

.sec-catogry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.sec-2-1-box {
  width: 100%;
  height: 100px;
  background-color: #f9f9f9;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.sec-2-1-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100px;
  font-size: 1.3rem;
}

.sec-2-1 {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
}

/* Styles for the selected category */
.selected {
  background-color: red;
  border-color: red;
  color: white;
}

/* ---------------------------section3-------------------- */

.buy-now-bt-1 button {
  padding: 0.7rem 3rem;
  color: white;
  background: red;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.sec-1-left-right-1 {
  padding-top: 2rem;
  display: flex;
}

.this-month {
  display: flex;
  padding-top: 2rem;
  align-items: center;
  gap: 0.7rem;
  font-weight: 700;
  color: red;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ---------------------------------section-4=------------------- */
.section-4-box {
  display: inline-block;
  text-align: center;
  color: black;
  background: white;
  padding: 0.5rem;
  width: 11%;
  margin-right: 1rem;
  border-radius: 15rem;
}

.section-4-boxs {
  padding-left: 6rem;
}

.section-4-box p {
  font-size: 2rem;
}

.section-4-left {
  width: 50%;
}

.section-4-right {
  width: 50%;
}

.section-4-1 {
  display: flex;
  background: rgb(17, 17, 17);
  margin-top: 2rem;
  align-items: center;
  color: white;
}

.section-4-p {
  padding-left: 6rem;
  color: #01f401;
}

.section-4-h1 {
  padding-left: 6rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.section-4-button {
  padding-left: 6rem;
  padding-top: 2rem;
}

.section-4-btn {
  padding: 0.5rem 2rem;
  cursor: pointer;
  border: none;
  background-color: #01f401;
}

.section-4-right img {
  padding-left: 4rem;
}

/* ----------------------------section5------------------ */
.section-5-main {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
  gap: 4rem;
}

.inner-box {
  background-color: #000000;
  color: white;
  display: inline;
  padding: 0.6rem;
  border-radius: 30px;
  font-size: 1.5rem;
}

.section-5-main-1 {
  text-align: center;
}

.section-5-h3 {
  padding-top: 1rem;
  text-transform: uppercase;
}

/* --------------------------------footer--------------------------- */
.footer {
  background-color: #000000;
  padding: 5rem 0;
}

.footer-main {
  display: flex;
  justify-content: space-between;
}

.footer-main-left {
  display: inline-block;
  color: white;
  padding-right: 10rem;
}

.footer-main-support {
  display: inline-block;
  color: white;
  line-height: 1.7rem;
  padding-right: 10rem;
}

.footer-main-center {
  display: inline-block;
  color: white;
  line-height: 1.4rem;
  padding-right: 10rem;
}

.footer-main-quick-links {
  display: inline-block;
  color: white;
  line-height: 1.7rem;
}

.footer-h3 {
  padding-bottom: 1rem;
}

.footer-p1 {
  padding-bottom: 1rem;
}

.footer-p2 {
  padding-bottom: 1rem;
  font-size: 0.8rem;
}

.email-field input {
  outline: none;
  border: none;
  background: transparent;
  color: white;
}

.email-field {
  border: 2px solid white;
  padding: 0.4rem;
}

.footer-main-support-p {
  font-size: 0.7rem;
}

.footer-main-support-p2 {
  font-size: 0.7rem;
}

.footer-main-support-p3 {
  font-size: 0.7rem;
}

.footer-main ul li {
  font-size: 0.7rem;
}

.scroll-to-top-btn {
  float: right;
  margin-top: -3rem;
  font-size: 2rem;
  cursor: pointer;
}

/* ------------------------------------Media-laptop---------------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  :root {
    font-size: 60%;
  }

  .container {
    padding: 0 12rem;
  }

  .fashion-list {
    padding-right: 4.5rem;
    width: 100%;
  }

  .items {
    padding-left: 8rem;
  }
  .items .img img {
    width: 86%;
  }
  .product-box img {
    padding-left: 13%;
    padding-top: 25%;
  }
  .product-box {
    height: 143px;
  }
  .section-4-right img {
    width: 75%;
  }
}
/* ----------------------------------mia-768---min---480------ */
@media only screen and (min-width: 480px) and (max-width: 768px){
  .items .img img {
    width: 67%;
  }
  .container{
    padding: 0 6rem;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px){
  :root{
    font-size: 20%;
  }
  .container{
    padding: 0 10rem;
  }
  .items .img img {
    width: 20%;
  }
  .products {
    flex-wrap: wrap;
}
.fashion-list {
  padding-right: 4.5rem;
  width: 100%;
}
.wrapper{
  display: none;
}
.section-4-right img {
  padding-left: 2rem;
  width: 98%;
}
.sec-2-1-box {
  height: 50px;
}
.sec-2-1-content {
  height: 50px;
}
.email-field {
  border: 1px solid white;
}
.email-field input {
  font-size: 1rem;
}
.input-field {
  font-size: 1rem;
}
}